main {
	font-size: 13px;
	font-family: "Sarasa Gothic SC", sans-serif;
}

body {
	font-size: 13px;
	font-family: "Sarasa Gothic SC", sans-serif;
}

header {
	border-bottom: 1px solid var(--color-base-50)
}

nav {
	border-right: 1px solid var(--color-base-50)
}

.graph-title-container {
	justify-content: flex-start !important;
}

.force-graph-container {
	border: 1px solid var(--color-base-50)
}

#graph-depth::-webkit-slider-runnable-track {
	background-color: var(--color-base-30);
	border-radius: 3px;
	height: 5px;
}

#graph-depth::-moz-range-track {
	background-color: var(--color-base-30);
	border-radius: 3px;
	height: 5px;
}

#graph-depth::-moz-range-track:hover {
	background-color: var(--color-base-40);
}

#graph-depth::-webkit-slider-runnable-track:hover {
	background-color: var(--color-base-40);
}

.filetree-sidebar > a:nth-child(1) > h1:nth-child(1) {
	text-align: start !important;
	font-size: 17px !important;
	padding-left: 13px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border-bottom: 1px solid var(--color-base-50);
}

.filetree-sidebar {
	padding-left: 0;
	padding-right: 0;
}

.graph-title {
	padding-left: 0;
}

.toc {
	padding: 0;
	margin-top: 3rem;
}

.content {
    margin-top: 0px;
    right: 4rem;    margin
}

.sidebar-container {
	position: relative;
	right: 4rem;
}
