body {

}

header {
	border-bottom: 1px solid var(--color-base-50)
}

nav {
	border-right: 1px solid var(--color-base-50)
}

.graph-title-container {
	justify-content: flex-start !important;
}

.force-graph-container {
	border: 1px solid var(--color-base-50)
}
